<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <!-- Need to enter credential path -->
      <add key="Credential" value=""/>
      
      <!-- Need to enter folder id where your files are located -->
      <add key="FolderId" value=""/>

      <!-- Add path for download folder -->
      <add key="BasePath" value="C:\Testing\Drive"/>
    </appSettings>
</configuration>